.DS_Store
*.swp
*.lock
profile
.env
*~.nib
*.hmap
*.ipa
DerivedData/
build/
Builds/
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
!default.pbxuser
!default.mode1v3
!default.mode2v3
!default.perspectivev3
xcuserdata
!xcschemes
*.moved-aside
!xcshareddata
!default.xcworkspace
*.xcworkspacedata
*.xccheckout
*.xcuserstate
*.xcscmblueprint

####
# CocoaPods
Pods/
!Podfile
!Podfile.lock

